time window:
  begin: '{{window_begin}}'
  length: '{{window_length}}'
  bound to include: '{{ bound_to_include | default("begin", true) }}'

geometry:
{% filter indent(width=2) %}
{% set geometry_background_file = geometry_background_file|default('geometry_background', true) ~ '.yaml.j2' %}
{% include geometry_background_file %}
{% endfilter %}

state:
{% filter indent(width=2) %}
{% set background_file = background_file|default('background', true) ~ '.yaml.j2' %}
{% include background_file %}
{% endfilter %}

observations:
  observers:
{% for observation_from_jcb in observations %}
{% if use_observer(observation_from_jcb) %}
{% filter indent(width=2) %}
{% include observation_from_jcb + '.yaml.j2' %}
{% endfilter %}
{% endif %}
{% endfor %}
