time window:
  begin: '{{window_begin}}'
  length: '{{window_length}}'
  bound to include: '{{ bound_to_include | default("begin", true) }}'

observations:
  observers:
{% for observation_from_jcb in observations %}
{% if use_observer(observation_from_jcb) %}
{% filter indent(width=2) %}
{% include observation_from_jcb + '.yaml.j2' %}
{% endfilter %}
{% endif %}
{% endfor %}
